<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
      {{#each model as |user|}}
        {{#link-to 'user' user tagName='li' class='list-group-item'}}
          {{#link-to 'user' user}}
            {{user.name}}
          {{/link-to}}
        {{/link-to}}
      {{else}}
        <li>Oops, You haven't procreated yet or have been immaculately concepted.</li>
      {{/each}}
      </ul>
    </div>
    <div class="col-sm-8">
      {{outlet}}
    </div>
  </div>
</div>
