<h1>{{model.name}}</h1>

<h3>Parents</h3>
<ul>
{{#each model.parents as |relationship|}}
  <li>
    {{#link-to 'user' relationship.parent}}
      {{relationship.parent.name}}
    {{/link-to}}
  </li>
{{else}}
  <li>None</li>
{{/each}}
</ul>

<h3>Spouse</h3>
<ul>
{{#each model.spouse as |spouse|}}
  <li>
  {{#link-to 'user' spouse}}
    {{spouse.name}}
  {{/link-to}}
  </li>
{{else}}
  <li>None</li>
{{/each}}
</ul>

<h3>Siblings</h3>



<ul>
  {{#each model.siblings as |relationship|}}
    <li>
      {{#link-to 'user' relationship.child}}
        {{relationship.child.name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>None</li>
  {{/each}}
</ul>

<h3>Children</h3>
<ul>
{{#each model.children as |relationship|}}
  <li>
    {{#link-to 'user' relationship.child}}
      {{relationship.child.name}}
    {{/link-to}}
  </li>
{{else}}
  <li>None</li>
{{/each}}
</ul>
